/* Estilos para la página de visualización de Excel */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.excel-view-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

#excel-content {
    margin-top: 20px;
}